### Keil MDK ###
475wi20/STMLibrary/MDK-ARM/EE475/
475wi20/STMLibrary/MDK-ARM/EE475*
# 475wi20/STMLibrary/MDK-ARM/EE475.uvguix.Brandon
# 475wi20/STMLibrary/MDK-ARM/EE475.uvguix.EE475
# 475wi20/STMLibrary/MDK-ARM/EE475.uvguix.khang
# 475wi20/STMLibrary/MDK-ARM/EE475.uvoptx
# 475wi20/STMLibrary/MDK-ARM/EE475.uvprojx

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp